.about_section {
  position: relative;
  z-index: 1;
  padding-bottom: 80px;
  width: 100%;
  height: 100%; /* or 60vh */
  /* background-image: url('/image/background_2.png');
   background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat; */
}

.about_background {
  width: 100%;
}
.about_background img {
  width: 100%;
}

.about_background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_empityContainer {
  background-color: var(--primary-heading-color);
  width: 380px;
  height: 380px;
  border-radius: 32px;
  z-index: 3;
  position: absolute;
  top: 270px;
  left: 130px;
}

.empity_conatiner_reponsivce {
  background-color: var(--primary-heading-color);
  width: 380px;
  height: 380px;
  border-radius: 32px;
  z-index: 8888;
  margin-right: 40px;
}

.about_conatiner_image {
  position: absolute;
  top: 297px;
  left: 160px;
  z-index: 7;
}

.aboutUS_Conatiner {
  max-width: 1344px;
  width: 100%;
  position: absolute;
  top: 345px;
  right: 160px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  z-index: 9999;
}

.about_container_text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 770px;
  width: 100%;
  margin-left: 44%;
}

.about_container_text h4 {
  color: var(--primary-dark-color);
  font-size: 24px;
  line-height: 24px;
  font-weight: 800;
}

.about_card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 60px 40px;
  gap: 40px;
  border-radius: 32px;
  background-color: #ffffff;
}

.about_single_card {
  max-width: 286px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about_single_card h3 {
  color: var(--four-heading-color);
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

.about_learn_more {
  align-items: center;
  display: flex;
  max-width: 132px;
  gap: 16px;
  cursor: pointer;
}

.about_learn_more p {
  color: var(--primary-dark-color);
}

.learn_arrow {
  color: var(--primary-dark-color);
}

/* duplicate css for reponsive */
.about_section_2 {
  /* position: relative; */
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
}

.about_background_2 {
  width: 100%;
}

.about_background_2 img {
  width: 100%;
}

.about_background_2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_empityContainer_2 {
  background-color: var(--primary-heading-color);
  width: 380px;
  height: 380px;
  border-radius: 32px;
  z-index: 3;
  position: absolute;
  top: 270px;
  right: -33px;
}

.empity_conatiner_reponsivce_2 {
  background-color: var(--primary-heading-color);
  width: 380px;
  height: 380px;
  border-radius: 32px;
  z-index: 8888;
  margin-right: 40px;
}

.about_conatiner_image_2 {
    z-index: -1;
    width: 380px;
    height: 380px;
    position: absolute;
    bottom: -30px;
    left: -26px;
}

.about_conatiner_image_2 img{
    z-index: -1;
    position: absolute;
    top: 0;
     width: 380px;
  height: 380px;
}

.aboutUS_Conatiner_2 {
    z-index: 5;
    flex-direction: column;
    gap: 39px;
    width: 100%;
    max-width: 890px;
    display: flex;
    position: absolute;
    top: 208px;
    left: 137px;
    overflow: visible;
}

.about_container_text_2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 740px;
  width: 100%;
  /* margin-left: 44%; */
}



.about_card_2 {
    z-index: 9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 28px 25px;
  gap: 40px;
  position: relative;
  border-radius: 32px;
  background-color: #ffffff;
}

.about_single_card_2 {
  max-width: 286px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about_single_card_2 h3 {
  color: var(--four-heading-color);
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

.about_learn_more_2 {
  align-items: center;
  display: flex;
  max-width: 132px;
  gap: 16px;
  cursor: pointer;
}

.arrow{
    font-size: 24px;
    color: var(--primary-dark-color);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.arrow:hover{
    transform: rotate(360deg);
}

.about_learn_more_2 p {
  color: var(--primary-dark-color);
}

.learn_arrow_2 {
  color: var(--primary-dark-color);
}


.about_conatiner_image_2 {
    display: none;
  }

  .about_empityContainer_2 {
    display: none;
  }


  .aboutUS_Conatiner_2 {
    display: none;
  }

@media (max-width: 1800px) {
  .aboutUS_Conatiner {
    max-width: 1162px;
  }

  .about_container_text {
    margin-left: 47%;
    max-width: 638px;
  }

  .about_conatiner_image {
    width: 600px;
  }

  .about_conatiner_image img {
    width: 600px;
  }
}

@media (max-width: 1542px) {
  .aboutUS_Conatiner {
    top: 355px;
    right: 118px;
  }

  .about_container_text {
    max-width: 628px;
    margin-left: 45%;
  }

  .aboutUS_Conatiner {
    top: 355px;
    right: 66px;
  }

  .about_conatiner_image {
    left: 66px;
  }

  .about_empityContainer {
    left: 46px;
  }
}

@media (max-width: 1350px) {
  .about_card {
    padding: 41px 21px;
    width: 1058px;
  }

  .aboutUS_Conatiner {
    max-width: 1058px;
    top: 393px;
    right: 88px;
  }

  .about_container_text {
    margin-left: 45%;
  }

  .about_conatiner_image {
    width: 490px;
    /* height: 717px; */
  }

  .about_conatiner_image img {
    width: 490px;
    /* height: 717px; */
  }
}

@media (max-width: 1258px) {
  .about_container_text {
    max-width: 557px;
    margin-left: 46%;
  }

  .about_card {
    width: 1058px;
    padding: 34px 13px;
  }

  .aboutUS_Conatiner {
    max-width: 1058px;
    top: 393px;
    right: 66px;
    gap: 44px;
  }
}

@media (max-width: 1216px) {
  .about_conatiner_image {
    z-index: 7;
    position: absolute;
    top: 796px;
    left: 212px;
    height: 470px;
    display: none;
  }

  .about_empityContainer {
    top: 545px;
    left: 583px;
    display: none;
  }


  .aboutUS_Conatiner {
    gap: 44px;
    max-width: 683px;
    top: 50%;
    left: 21%;
    display: none;
  }

  .about_conatiner_image_2 {
    display: inline-flex;
  }

  .about_empityContainer_2 {
    display: inline-flex;
  }


  .aboutUS_Conatiner_2 {
    display: inline-flex;
  }

  .about_conatiner_image img {
    width: 394px;
    height: 470px;
  }

  .about_card {
    grid-template-columns: repeat(2, 1fr);
    width: 669px;
    padding: 30px 13px;
  }

  

  .about_container_text {
    max-width: 557px;
    margin-left: 0;
  }

  
}

@media (max-width:1066px) {
    .aboutUS_Conatiner_2 {
    max-width: 655px;
    top: 17%;
    left: 50%;
    transform: translate(-50%,-4%);
}

.about_empityContainer_2 {
    top: 293px;
}
}


@media (max-width:743px) {
        .aboutUS_Conatiner_2 {
        max-width: 567px;
        left: 50%;
        transform: translate(-50%, -4%);
    }
}

@media (max-width:710px) {

    .aboutUS_Conatiner_2{
        max-width: 478px;
    }

    .aboutUS_icons_2{
        width: 55px;
        height: 55px;
    }

    .about_container_text_2 {
    flex-direction: column;
    gap: 18px;
    width: 100%;
    max-width: 490px;
    display: flex;
}

    .aboutUS_icons_2 img{
        width: 55px;
        height: 55px;
        object-fit: cover;
    }

    .about_single_card_2 {
    gap: 19px;
}

      .about_card_2{
    gap: 11px;
    padding: 18px 13px;
}

.about_single_card_2 h3 {
    font-size: 22px;
}

 .about_empityContainer_2 {
        top: 264px;
        right: -21px;
        width: 270px;
        height: 270px;
    }

    .about_conatiner_image_2 {
    width: 270px;
    height: 270px;
    bottom: -22px;
    left: -20px;
}
    .about_conatiner_image_2 img{
    width: 270px;
    height: 270px;
}

}

@media (max-width:550px) {
    .about_card_2 {
        gap: 11px;
        gap: 20px;
        padding: 20px 19px;
        grid-template-columns: 1fr;
    }

        .aboutUS_Conatiner_2 {
            top:   13%;
        max-width: 341px;
        
    }

    .about_empityContainer_2 {
        top: 260px;
        right: -17px;
    }

    .about_single_card_2 h3 {
        font-size: 20px;
    }

        .about_conatiner_image_2 {
        width: 270px;
        height: 270px;
        bottom: -17px;
        left: -16px;
    }

    .about_single_card_2 {
        gap: 9px;
    }

}

@media (max-width:390px) {
        .aboutUS_Conatiner_2 {
            gap: 16px;
        max-width: 232px;
        top: 16%;
    }

        .about_empityContainer_2 {
        width: 170px;
        height: 170px;
               top: 390px;
        right: -15px;
    }

        .about_conatiner_image_2 {
        width: 170px;
        height: 170px;
        bottom: -17px;
        left: -16px;
    }
        .about_conatiner_image_2 img{
        width: 170px;
        height: 170px;
    }

        .about_container_text_2 {
        gap: 6px;
    }

        .aboutUS_icons_2 {
        width: 50px;
        height: 50px;
    }
        .aboutUS_icons_2 img{
        width: 50px;
        height: 50px;
    }

        .about_single_card_2 h3 {
        font-size: 18px;
    }

    .about-module__CBbw2W__about_card_2 {
        grid-template-columns: 1fr;
        gap: 13px;
        padding: 16px 16px;}

            .about_empityContainer_2 {
        top: 212px;
        right: -11px;
    }

    .about_conatiner_image_2 {
        bottom: -14px;
        left: -13px;
    }
}
