.navbar {
  width: 100%;
  /* max-width: 1600px; */
  position: absolute;
  top: 40px;
  /* left: 160px;
  right: 160px; */
  /* margin: 0 160px; */
  z-index: 8;
  /* border-radius: 60px; */
  /* background-color: red; */
}

.logo_section {
  display: flex;
  gap: 20px;
}

.navcontainer {
  margin: 0 160px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;

  background: radial-gradient(
    circle at top left,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.02)
  );

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  /* 🔥 BORDER (very subtle like Figma) */
  border: 1px solid rgba(255, 255, 255, 0.2);

  /* spacing */
  padding: 20px 80px;

  /* optional glow */
  box-shadow: 0 0 20px rgba(0, 150, 255, 0.15);
}

.logo {
  width: 44.42;
  height: 34.73px;
  display: flex;
  gap: 4px;
  position: relative;
}

.logo_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  width: 12.89px;
  height: 12.89px;
  background: #00addc;
}

.logo_text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.logo_header {
  display: flex;
  gap: 10px;
}

.logo_para {
  display: flex;
  gap: 4px;
}

.logo_para .single_logo_para:nth-child(9) {
  margin-left: 10px;
}
.logo_para .single_logo_para:nth-child(11) {
  width: 5.72;
  height: 9.27px;
}
.logo_para .single_logo_para:nth-child(12) {
  width: 5.72;
  height: 9.27px;
}

.route_pagaes {
  max-width: 691px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.route_pagaes a {
  text-decoration: none;
  font-size: var(--primary-para-font-size);
  font-weight: 400;
  line-height: var(--primary-para-font-line-height);
  color: var(--secondary-text-color);
  cursor: pointer;
}

.route_pagaes a:hover {
  color: var(--button_bg-color);
}

.route_pagaes .active_page {
  color: var(--button_bg-color);
}

.nav_icons {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

/* RESPONSIVENESS */


@media (max-width: 1634px) {
  .heroSection_content h1 {
    font-size: 89px;
  }

  .explore_contaier {
    top: 457px;
    left: 750px;
  }

  .socialmedia_icons {
    top: 654px;
    right: 181px;
  }

  .exclusive_clients {
    top: 586px;
    left: 160px;
  }
}

@media (max-width: 1551px) {
  .route_pagaes {
    max-width: 569px;
    width: 100%;
  }

  .heroSection_content h1 {
    top: 293px;
  }

  .explore_contaier {
    top: 448px;
    left: 750px;
  }

  .socialmedia_icons {
    top: 630px;
    right: 189px;
  }

    .exclusive_clients {
    top: 559px;
    left: 160px;
  }
}

@media (max-width: 1469px) {
  .heroSection_content h1 {
    font-size: 79px;
    max-width: 1245px;
    top: 297px;
    left: 50px;
  }

  .explore_contaier {
    gap: 29px;
    top: 427px;
    left: 586px;
  }

  .exclusive_clients {
    top: 544px;
    left: 50px;
  }

  .header_image {
    width: 100%;
    /* max-width: 100%; */
    height: 83vh;
  }

  .socialmedia_icons {
    top: 628px;
    right: 64px;
  }

  .navcontainer {
    margin: 0 37px;
  }
}

@media (max-width: 1230px) {
  .heroSection_content h1 {
    font-size: 79px;
    top: 319px;
  }

  .exclusive_clients {
    top: 573px;
    left: 50px;
  }

  .explore_contaier {
    top: 450px;
    left: 545px;
  }

  .explore_para {
    max-width: 491px;
  }

  .socialmedia_icons {
    top: 652px;
    right: 64px;
  }
}

@media (max-width: 1110px) {
  .navcontainer {
    padding: 17px 11px;
  }

  .heroSection_content h1 {
    max-width: 981px;
    font-size: 70px;
  }

  .exclusive_client {
    gap: 12px;
  }

  .arrow {
    padding-top: 12px;
    width: 196px;
  }

    .exclusive_clients {
    top: 548px;
    left: 50px;
  }
  .explore_para {
    font-size: 19px;
  }

  .explore_contaier {
    max-width: 428px;
    top: 432px;
    left: 506px;
  }

  .socialmedia_icons {
    top: 608px;
    gap: 21px;
  }
}

@media (max-width: 996px) {
  .heroSection_content h1 {
    max-width: 853px;
    font-size: 52px;
    top: 304px;
  }

  .explore_para {
    font-size: 18px;
  }

  .explore_contaier {
    max-width: 428px;
    top: 389px;
    left: 441px;
  }

  .header .exclusive_clients {
    max-width: 370.71px;
    top: 470px;
  }

  .explore_btn {
    max-width: 256px;
    gap: 20px;
    padding: 15px 13px;
  }

  .socialmedia_icons {
    top: 528px;
    gap: 21px;
  }
}

@media (max-width: 958px) {
  .route_pagaes {
    display: none;
  }

  .logo_section {
    align-items: center;
  }

  .logo_section .logo_text {
    display: none;
  }

  .menuicon {
    display: block;
  }

  .navbar {
    top: 20px;
  }

  .heroSection_content h1 {
    max-width: 834px;
    font-size: 53px;
    top: 318px;
  }

 .exclusive_clients {
    max-width: 370.71px;
    top: 490px;
  }

  .arrow {
    width: 137px;
  }

  .client_profile {
    width: 40px;
    height: 40px;
  }

  .eclusive_client_para {
    font-size: 15px;
  }

  .explore_para {
    font-size: 16px;
  }

  .tenk_circle {
    width: 40px;
    height: 40px;
  }

    .exclusive_client {
    max-width: 151px;
  }

  .explore_contaier {
    max-width: 400px;
    top: 400px;
    left: 394px;
  }

  .explore_btn {
    max-width: 236px;
    gap: 20px;
    padding: 10px 11px;
  }

  .socialmedia_icons {
    top: 522px;
    gap: 20px;
  }

  .header_image {
    width: 100%;
    /* max-width: 100%; */
    height: 72vh;
  }
}

@media (max-width: 851px) {
  .navcontainer {
    padding: 8px 10px;
  }

  .heroSection_content h1 {
    top: 267px;
  }

  .exclusive_clients {
    max-width: 274.71px;
    top: 437px;
  }

  .explore_contaier {
    max-width: 300px;
    top: 346px;
    left: 382px;
    gap: 16px;
  }

  .socialmedia_icons {
    top: 479px;
    gap: 15px;
  }
}

@media (max-width: 775px) {
  .explore_contaier {
    max-width: 100%;
    top: 444px;
    left: 52px;
    gap: 16px;
  }

  .explore_btn {
    max-width: 279px;
    border-radius: 60px;
    padding: 17px 30px;
  }

  .explore_para {
    font-size: 20px;
  }

  .exclusive_clients {
    max-width: 274.71px;
    top: 642px;
  }

  .socialmedia_icons {
    top: 682px;
    gap: 15px;
  }
}

@media (max-width: 617px) {
  .heroSection_content h1 {
    top: 205px;
  }
}

@media (max-width: 516px) {
  .arrow{
    display: none;
  }
}

@media (max-width: 450px) {
      .heroSection_content h1 {
        top: 138px;
    }
}

@media (max-width: 436px) {
      .heroSection_content h1 {
        top: 138px;
        font-size: 50px;
    }
}